/*about:yjc-2017.2.5*/
/*商家数据 start*/
.business-data{ width: 100%; overflow: hidden; padding-top: 10px;}
.business-data>li{ float: left; width: 23.5%; margin-left: 2%;padding: 22px 10px 30px 30px; }
.business-data>li:first-child{ margin-left: 0;}
.business-data>li>span{ font-size: 36px; color: #fff; width: 100%;}
.business-data>li>p{ font-size: 14px; color: #fff; margin-top: 7px;}
/*商家数据 end*/
/*系统公告 start*/
.system-announcement{ background: #fff; margin-top: 20px;}
.system-announcement>.tit{ font-size: 14px; color: #333; font-weight: 700; line-height: 50px; padding-left: 20px; vertical-align: middle; border-bottom: 1px solid #eee;}
.announcement-lists{ padding: 0 20px;}
.announcement-lists>li{ height: 50px; border-bottom: 1px dashed #dfe1eb;}
.announcement-lists>li>a{ display: block; width: 100%;}
.announcement-lists>li>a>p{ position: relative; float: left; max-width: 85%; padding-right: 30px; font-size: 14px; color: #666; line-height: 20px; vertical-align: middle; margin-top: 15px;}
.announcement-lists>li>a>p>.new-icon{ position: absolute; right: 0; top: 3px; font-size: 12px; font-weight: 400; color: #fff; background: #fa4f4f; padding: 0 3px 3px; line-height: 10px; border-radius: 3px; margin-bottom: 0; -webkit-transform: scale(.83);  -moz-transform: scale(.83);-ms-transform: scale(.83); transform: scale(.83);}
.announcement-lists>li>a:hover p{ color: #004b92;}
.announcement-lists>li>a>span{ float: right; font-size: 14px; color: #999; line-height: 50px; vertical-align: middle; }
/*系统公告 end*/


